---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #390042;
$secondary-color:  #190044;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$border-radius:    5px;

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

@mixin button {
    display: inline-block;
    padding: .75em 1em;
    border: 0;
    border-radius: $border-radius;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: $small-font-size;
    line-height: normal;
    cursor: pointer;
}

body {
    .wf-active & {
        font-family: "Roboto Slab";
    }
}

.site-header {
    border-top: 0;
    background: $brand-color;
    
    @media screen and (min-width: $on-palm) {
        padding: .5em 0;
    }
}

.site-title {
    color: #fff;

    &:visited {
        color: #fff;
    }
}

.site-nav {

    @media screen and (min-width: $on-palm) {
        .page-link {
            @include button;
            background: #fff;
            color: $brand-color;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.post-title {
    color: $secondary-color;
}

.button {
    @include button;
    color: #fff !important;
    background: $brand-color;

    &--full {
        display: block;
        padding: 1em;
    }
}

.col-6 {
    margin-bottom: 4%;
    
    img {
        margin-bottom: .5em;
    }
}

 @media screen and (min-width: $on-palm) {
    
    .col-6 {
        float: left;
        width: 48%;
        margin-left: 4%;

        &:first-child {
            margin-left: 0;
        }
    }

}

label {
    display: block;
    padding-bottom: .25em;
}

input[type="text"],
input[type="email"] {
    padding: .75em;
    width: 100%;
    box-sizing: border-box;
    border-radius: $border-radius;
    border: 1px solid $grey-color-light;
    font-family: sans-serif;
    font-size: 100%;
}

.mc-field-group {
    margin-bottom: .75em;
}

.page-content {
    background: #f5f5f5;
    padding: 15px 0;

    @media screen and (min-width: $on-palm) {
        padding: 30px 0;
    }
}

.footer-col-3 {
    @media screen and (min-width: $on-palm) {
        text-align: right;
    }
}

.hide-palm {
    @media screen and (min-width: $on-palm) {
        display: none;
    }
}
